:root{
	--mainText:#fff;
	--secondaryText:#eeeeee;

	--borderColor:#161914;

	--mainColor:#606B58;
	--secondaryColor:#515a48;

	--themedotborder:#FFF;

	--previewbg: rgb(25, 39, 52, 0.8);

	--previewshadow: #111921;

    --btnColor : #669966;

}